@font-face {
    font-family: Berlin;
    src: url(../font/Berlin.ttf);
}

body{
    font-family: Berlin;
    letter-spacing: 1.5px;
}

.py-4 {
    padding-top: 1.75rem!important;
    padding-bottom: 1.75rem!important;
}

.btn-primary{
    --bs-btn-bg: #94B734;
    --bs-btn-border-color: #94B734;
    font-weight: bold;
}

.btn:hover, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #94B734;
    border-color: #94B734;
}

.color-h1, .text-body-emphasis{
    color: #94B734;
    --bs-emphasis-color: #94B734;
}

.nav{
    --bs-nav-link-color: #000000;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #94B734;
    background-color: #fff;
}

.py-5 {
    padding-top: 0.5rem!important;
    padding-bottom: 1.5rem!important;
}

.col{
    border-right: 1px solid lightgray;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.d-flex{
    display: flex!important;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.titulo-card{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-weight: bolder;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    padding: 1.25rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.5rem 0;
}

.card{
    margin-bottom: 1.25rem;
    height: 25rem;
    border-color: #94B734;
    box-shadow: 0px 0px 50px 15px rgba(48, 48, 48, 0.253);
    transition: all 0.3s linear;
}

.icons{
    width: 50px;
    height: auto;
    padding-top: 1rem;
    transition: all 0.3s linear;
}

.card:hover{
    background-color: #94B734;
    color: white;
    opacity: 100;
}

.card:hover > .card-body > .icons {
    filter:invert(100%) sepia(0%) saturate(7437%) hue-rotate(338deg) brightness(101%) contrast(102%)
}

.icons-footer{
    width: 100px;
    height: auto;
}

.row{
    justify-content: space-between;
}