:root {
    --fonte-primaria:'Berlin', sans-serif;
    --cor-principal: #2ebf91;
    --cor-secundaria: #8360c3;
}

@font-face {
    font-family: Berlin;
    src: url(../font/Berlin.ttf);
}

body, .btn-form{
    font-family: Berlin;
    letter-spacing: 1.5px;
    
}

.py-4 {
    padding-top: 1.75rem!important;
    padding-bottom: 1.75rem!important;
}

.btn-primary{
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: ;
    font-weight: bold;
}

.btn:hover, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #51e9b9;
    border-color: #51e9b9;
}

.color-h1, .text-body-emphasis{
    --bs-emphasis-color: rgb(0, 8, 78);
}

.nav{
    --bs-nav-link-color: #000000;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background-color: #fff;
}

.py-5 {
    padding-top: 0.5rem!important;
    padding-bottom: 1.5rem!important;
}

.nav-link:focus, .nav-link:hover{
    color: #9b9b9b;
}

.lead{
    color: rgb(15, 23, 95);
}

.display-4{
    font-size: 50px;
    display: flex;
    justify-content: center;
}


.display-5{
    text-align: center;
    font-size: 30px;
}

.display-6{
    text-align: center;
    font-size: 30px;
}

.fs-4{
    color: #000000;
}

.texto{
    margin-right: -485px;
    margin-top: -233px;
    font-size: 16px;
    line-height: 25px;
}

#texto-escondido {
    display: none;
    margin-top: 10px; 
}

#link-continue-lendo {
    text-decoration: none; 
    color: #007BFF; 
    cursor: pointer; 
}

#link-continue-lendo:hover {
    color: #0056b3; 
}

.texto1{
    font-size: 16px;
    margin-right: -485px;
    margin-top: -220px;
    line-height: 25px;
}

.texto2{
    font-size: 16px;
    margin-right: -485px;
    margin-top: -220px;
    text-align: center;
    line-height: 25px;
}


.textocampanha{
    font-size: 15px;
    text-align: left    ;
    line-height: 25px;
}

.botaovacinacalendario{
    margin-right: -10px;
    margin-top: 5px;
}

.botaovacinahome{
    margin-top: 30px;
    margin-left: 380px;
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.d-flex{
    display: flex!important;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.titulo-card{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-weight: bolder;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.25rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.5rem 0;
}


.card{
    margin-bottom: 1.25rem;
    height: 25rem;
    border-color: #8360c3;
    box-shadow: 0px 0px 50px 15px rgba(48, 48, 48, 0.253);
    transition: all 0.3s linear;
}

.icons{
    width: 50px;
    height: auto;
    padding-top: 1rem;
    transition: all 0.3s linear;
}

.card:hover{
    background-color: var(--cor-principal);
    color: white;
    opacity: 100;
}

.card:hover > .card-body > .icons {
    filter:invert(100%) sepia(0%) saturate(7437%) hue-rotate(338deg) brightness(101%) contrast(102%)
}

.icons-footer{
    width: 100px;
    height: auto;
}

.icons-social{
    width: 30px;
    height: auto;
}

.nav-icons{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.row{
    justify-content: space-between;
    align-items: center;
}

.border-top{
    margin-top: 5rem;
    padding-top: 1.75rem;
    border-top: .75px var(--bs-border-style) black!important;
}

.div-contato{
    display: flex;
    justify-content: space-evenly;
}


.tabela-contato{
    display: flex;
    flex-direction: column;
}

.lista-contato{
    list-style-type:none;
    margin: 0;
}

.lista-contato > li {
    padding-bottom: 0.75rem;
    text-align: center;
    width: 175px;
}

.lista-contato > li > a{
    text-decoration: none;
    color: #000000;
}

.icons-whats{
    width: 35px;
    margin-top: 20px;
}

.icons-whats:hover{
    background-color: #25D366;
}


.icons-contato{
    width: 35px;
    margin-top: 20px;
}

.form-container{
    width: 800px;
}

.formulario{
    font-family: Berlin;
    font-weight: bold;
}

.row-form{
    margin-bottom: 1.25rem;
}

.form-check-input, .form-control{
    border: var(--bs-border-width) solid gray;
}

.form-control[type=file]:not(:disabled):not([readonly]){
    letter-spacing: 1.5px;
}

.link-email{
    text-decoration: none;
}

.header{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.border-div-top{
    padding-top: 3rem;
    padding-bottom: 1.5rem!important;
}

@media screen and (max-width: 767px) {
    .header{
        flex-direction: column;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }

    .row{
        flex-direction: column;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .center-responsive{
       text-align: center;
       align-items: center;
    }

    .div-contato{
        flex-direction: column;
        align-items: center;
    }

    .tabela-contato > h4{
        margin-bottom: 1rem;
    }

    .text-btn{
        letter-spacing: .25rem;
    }

    .form-container{
        width: 99vw;
    }

    .row-form{
        flex-direction: row;
    }

    .p-left{
        text-align: left;
    }

}