:root {
    --fonte-primaria:'Berlin', sans-serif;
    --cor-principal: #2ebf91;
    --cor-secundaria: #8360c3;
}

@font-face {
    font-family: Berlin;
    src: url(../font/Berlin.ttf);
}

body{
    background-color: #f3f3f3;
}
body, .btn-form{
    font-family: Berlin;
    letter-spacing: 1.5px;
    
}

.py-4 {
    padding-top: 1.75rem!important;
    padding-bottom: 1.75rem!important;
}

.btn-primary{
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: ;
    font-weight: bold;
    margin-top: 40px;
}

.btn-second{
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: #fff;
    font-weight: bold;
    color: #ffffff;
    margin-left: 4rem;
}

.btn-quinto{
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: #fff;
    font-weight: bold;
    color: #ffffff;
    justify-content: center;
}

.btn-quarto{
    --bs-btn-bg: var(--cor-principal);
    font-weight: bold;
    color: #203864;
    margin-bottom: 5rem;
    margin-left: 20rem;
    width: 15%;
}

.btn-terceiro{
    --bs-btn-bg: var(--cor-principal);
    --bs-btn-border-color: #fff;
    font-weight: bold;
    color: #ffffff;
    margin-right: 15rem;
}

.btn:hover, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: #51e9b9;
    border-color: #51e9b9;
    color: #ffffff;
}

.btn-quarto:hover{
    color: #3c5075;
}

.color-h1, .text-body-emphasis{
    --bs-emphasis-color: rgb(0, 8, 78);
}

.nav,.accordion-button{
    --bs-nav-link-color: #000000;
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background-color: #fff;
    font-family: Berlin;
}

.py-5 {
    padding-top: 0.5rem!important;
    padding-bottom: 1.5rem!important;
}

.nav-link:focus, .nav-link:hover{
    color: rgb(116, 116, 116);
}
.lead{
    color: rgb(0, 6, 58);
    text-align: justify;
    font-family: sans-serif;
}  

.lead1{
    color: rgb(0, 6, 58);
    font-size: 1.25rem;
    font-weight: 300;
    font-family: sans-serif;
}


.display-4{
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: Berlin;
}


.display-5{
    text-align: center;
    font-size: 30px;
    font-family: Berlin;
}

.display-6{
    text-align: center;
    font-size: 30px;
    font-family: Berlin;
}

.fs-4{
    color: #000000;
}

.texto{
    margin-right: -485px;
    margin-top: -233px;
    font-size: 16px;
    line-height: 25px;
}

.texto1{
    font-size: 16px;
    margin-right: -485px;
    margin-top: -220px;
    line-height: 25px;
}

.texto2{
    font-size: 16px;
    margin-right: -485px;
    margin-top: -220px;
    text-align: center;
    line-height: 25px;
}


.textocampanha{
    font-size: 15px;
    text-align: left    ;
    line-height: 25px;
}

.SeeMore2{
    cursor: pointer;
}

.botaovacinacalendario{
    margin-right: -10px;
    margin-top: 5px;
}

.botaovacinahome{
    margin-top: 30px;
    margin-left: 380px;
}


.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.d-flex{
    display: flex!important;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

.d-flex2{
    display: flex!important;
    flex-direction: column;
}

.titulo-card{
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
    font-weight: bolder;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1.25rem;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1.5rem 0;
}


.card{
    margin-bottom: 1.25rem;
    height: 25rem;
    border-color: #8360c3;
    box-shadow: 0px 0px 50px 15px rgba(48, 48, 48, 0.253);
    transition: all 0.3s linear;
}

.icons{
    width: 50px;
    height: auto;
    padding-top: 1rem;
    transition: all 0.3s linear;
}

.card:hover{
    background-color: var(--cor-principal);
    color: white;
    opacity: 100;
}

.card:hover > .card-body > .icons {
    filter:invert(100%) sepia(0%) saturate(7437%) hue-rotate(338deg) brightness(101%) contrast(102%)
}

.icons-footer{
    width: 150px;
    height: auto;
}

.icons-social{
    width: 30px;
    height: auto;
}

.nav-icons{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.row{
    justify-content: space-between;
    align-items: center;
}

.border-top{
    margin-top: 5rem;
    padding-top: 1.75rem;
    border-top: .75px var(--bs-border-style) black!important;
}

.div-contato{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}


.tabela-contato{
    display: flex;
    flex-direction: column;
}

.lista-contato{
    list-style-type:none;
    margin: 0;
}

.contato-li{
    margin:.25rem 0;
}

.contato-li > a{
    text-decoration: none;
}

.contato-center{
    align-items: center;
}

.icons-whats{
    width: 35px;
    margin-top: 20px;
}

.icons-contato{
    width: 35px;
    margin-top: 20px;
}

.form-container{
    width: 800px;
}

.formulario{
    font-family: Berlin;
    font-weight: bold;
}

.row-form{
    margin-bottom: 1.25rem;
}

.form-check-input, .form-control{
    border: var(--bs-border-width) solid gray;
    font-family: Arial, Helvetica, sans-serif
}

.form-control[type=file]:not(:disabled):not([readonly]){
    letter-spacing: 1.5px;
}

.link-email{
    text-decoration: none;
}

.header{
    display: flex!important;
    flex-direction: row;
    justify-content: center;
    
}

.nav-link{
    color: rgb(0, 6, 58);
    margin-top: 40px;
}

.nav-link1{
    text-decoration: none;
}

.link-footer{
    margin-top: 0px;
}

.border-div-top{
    padding-top: 3rem;
    padding-bottom: 1.5rem!important;
}

.accordion{
    --bs-accordion-btn-focus-box-shadow: var(--cor-principal);
}


.accordion-button:not(.collapsed){
    background-color: var(--cor-principal);
    color: white;
    border-color: var(--cor-principal);
}

.accordion-button:focus{
    border-color: var(--cor-principal);
}

.titulo-contato{
    font-size: 2.25rem;
}

.botao-whatsapp {
    display: block;
    width: 75px;
    height: 75px;
    background: url(../img/whatsapp-logo.png) no-repeat center center;
    z-index: 998;
    background-size: 100%;
    opacity: .53;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 10px;
    transition: all .5s;
}

.botao-whatsapp:hover {
    opacity: 1;
}

.quem-somos-list{
    height: 350px;
    text-align: left;
}

.icon-quemsomos{
    margin-right: 10px;
    align-items: center;
}

.quem-somos-border{
    margin-top: 0;
}

.titulo-contato{
    display: flex;
}

.titulo-quemsomos{
    margin-bottom: 0rem;
}

.div-obrigado{
    text-align: center;
}

.text-wd60{
    width: 60%;
}

.text-wd40{
    width: 40%;
}

.text-aling-left{
    text-align: left;
}

.text-justify{
    text-align: justify;
}

.center{
    align-items: center;
}


@media screen and (max-width: 767px) {
    .header{
        flex-direction: column;
        align-items: center;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }

    .row{
        flex-direction: column;
    }

    .text-wd40{
        width: 100%;
    }

    .text-wd60{
        width: 100%;
    }

    .row-cols-2>*{
        width: auto;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .center-responsive{
       text-align: center;
       align-items: center;
    }

    .div-contato{
        flex-direction: column;
        align-items: center;
    }

    .tabela-contato > h4{
        margin-bottom: 1rem;
    }

    .text-btn{
        letter-spacing: .25rem;
    }

    .form-container{
        width: 99vw;
    }

    .row-form{
        flex-direction: row;
    }

    .p-left{
        text-align: left;
    }

    .btn-quinto{
        --bs-btn-bg: var(--cor-principal);
        --bs-btn-border-color: #fff;
        font-weight: bold;
        color: #ffffff;
        justify-content: center;
    }

    .btn-primary{
        margin-top: 0px;
    }
    
    .header{
        margin-top: 0px;
    }

    .nav-link{
        margin-top: 0px;
    }

}

@media screen and (min-width: 767px) and (max-width: 1023px) {

    .header{
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
    
    .nav-link{
        margin-top: 10px;
    }

    .btn-primary{
        margin-top: 10px;
    }

    .nav{
        flex-direction: column;
        align-items: center;
    }

    .row{
        flex-direction: column;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .text-wd40{
        width: 100%;
    }

    .text-wd60{
        width: 100%;
    }

    .col-sm-10{
        width: 100%;
    }

    .row-form{
        flex-direction: row;
    }

    .quem-somos-list{
        height: auto;
    }
    

}

.accordion-button:hover{
    background-color: var(--cor-principal)
}

.accordion-button{
    background-color: #e5fdf5;
    margin-bottom: 10px;
}

.pagination{
    justify-content: center;

}





.page-link:hover{
    background-color: #e5fdf5;
}

.quem-somos-list{
    text-align: left;
}

.quem-somos-list1{
    height: 350px;
    text-align: left;
}

.quem-somos-list2{
    height: 350px;
    text-align: left;

}
